Brewfile.lock.json

/config/*

!/config/fish
/config/fish/*
!/config/fish/config.fish
!/config/fish/fish_plugins
!/config/fish/functions
/config/fish/functions/*
!/config/fish/functions/fisher.fish
!/config/fish/lib

!/config/kitty

!/config/nvim
/config/nvim/lazy-lock.json
/config/nvim/lazyvim.json
