Brewfile.lock.json

/files/config/*

!/files/config/bat

!/files/config/fish
/files/config/fish/*
!/files/config/fish/config.fish
!/files/config/fish/fish_plugins
!/files/config/fish/functions
/files/config/fish/functions/*
!/files/config/fish/functions/fisher.fish
!/files/config/fish/lib

!/files/config/ghostty

!/files/config/kitty

!/files/config/nvim
/files/config/nvim/lazy-lock.json
/files/config/nvim/lazyvim.json
/files/config/nvim/lua/user/
